<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="header_block1 flex">
            <div class="header_black-nav">
                <div class="black_nav1">Press & MediaCenter</div>
                <div class="black_nav1">Contact</div>
            </div>
            <div class="header_languge">
                <div class="header_one-languge">DE</div>
                <div class="header_one-languge">EN</div>
            </div>
        </div>
        <div class="header_block2 flex"></div>
    </div>
</div>
</body>
</html>